.background {
  viewport-fill: black;
}

#hours {
  fill: white;
}

#mins {
  fill: white;
}

#secs {
  fill: gray;
}

#timeText {
  font-size: 45;
  font-family: Colfax-Bold;
  text-anchor: middle;
  fill: white;
  width: 100%;
  text-length: 5;
  height: 100%;
  y: 50%;
  x: 50%;
}

#date {
  font-family: Fabrikat-Bold;
  font-size: 25;
  text-length: 10;
  text-anchor: middle;
  width: 100%;
  x: 50%;
  y: 30%+120;
  fill: gray;
}

#stats-cycle {
  height: 20%;
  x: 50%+20;
  y: 50%-14;
}

.stat-icon {
  width: 25;
  height: 25;
  x: 0;
  y: 0;
  fill: lightgray;
}

.cycle-item text {
  font-family: Fabrikat-Bold;
  font-size: 25;
  text-length: 10;
  x: 28;
  y: 22;
  fill: darkgray;
}